<!DOCTYPE html>
<html>
<head>
  <title>Submitted</title>
  <link rel="stylesheet" href="/style.css" />
</head>
<body>
  <div class="login-box">
    <h1>✅ Submitted Successfully</h1>
    <p>Your biodata has been received. Our team will contact you.</p>
  </div>
</body>
</html>
